<a href="https://colab.research.google.com/github/Kulsum0255/Learning/blob/main/Dataframe_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''
Creating a DataFrame
The following code cell creates a simple DataFrame containing 10 cells organized as follows:

5 rows
2 columns, one named temperature and the other named activity
The following code cell instantiates a pd.DataFrame class to generate a DataFrame. The class takes two arguments:

The first argument provides the data to populate the 10 cells. The code cell calls np.array to generate the 5x2 NumPy array.
The second argument identifies the names of the two columns.
'''

import numpy as np
import pandas as pd

my_rows=np.array([[4,5],[5,7],[8,5],[8,4],[2,1]])
my_rows
my_colums=['temp','activity']
my_colums
my_dataframe=pd.DataFrame(data=my_rows,columns=my_colums)
my_dataframe

   temp  activity
0     4         5
1     5         7
2     8         5
3     8         4
4     2         1

In [5]:
'''
Adding a new column to a DataFrame
You may add a new column to an existing pandas DataFrame just by assigning values to a new column name. For example, the following code creates a third column named adjusted in my_dataframe:
'''
my_dataframe['adjusted']=my_dataframe['activity']+2  #+2 is added to values of activity column
my_dataframe

   temp  activity  adjusted
0     4         5         7
1     5         7         9
2     8         5         7
3     8         4         6
4     2         1         3

In [8]:
'''
Specifying a subset of a DataFrame
Pandas provide multiples ways to isolate specific rows, columns, slices or cells in a DataFrame.
'''
print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temp'])

Rows #0, #1, and #2:
   temp  activity  adjusted
0     4         5         7
1     5         7         9
2     8         5         7

Row #2:
   temp  activity  adjusted
2     8         5         7

Rows #1, #2, and #3:
   temp  activity  adjusted
1     5         7         9
2     8         5         7
3     8         4         6

Column 'temperature':
0    4
1    5
2    8
3    8
4    2
Name: temp, dtype: int64