<a href="https://colab.research.google.com/github/Kulsum0255/Learning/blob/main/Pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''
Task 1: Create a DataFrame
Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame
the value in the cell of row #1 of the Eleanor column
Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.
'''

import numpy as np
import pandas as pd

# Create a Python list that holds the names of the four columns.
my_colums=['Eleanor','Chidi','Tahani','Jason']

# Create a 3x4 numpy array, each cell populated with a random integer.
my_rows=np.random.randint(low=0, high=101, size=(3,4))

# Create a DataFrame.
my_dataframe= pd.DataFrame(data=my_rows,columns=my_colums)
print(my_dataframe)

# Print the value in row #1 of the Eleanor column.
print("#row 1 of Eleanor \n", my_dataframe['Eleanor'][1])

# Create a column named Janet whose contents are the sum of two other columns.
my_dataframe['Janet']=my_dataframe['Eleanor']+my_dataframe['Jason']
print(my_dataframe['Janet'])

# Print the enhanced DataFrame
print("Enhance dataframe is: \n", my_dataframe)

   Eleanor  Chidi  Tahani  Jason
0       40     97      31     62
1       95      4      19     41
2       27     21      44     50
#row 1 of Eleanor
 95
0    102
1    136
2     77
Name: Janet, dtype: int64
Enhance dataframe is:
    Eleanor  Chidi  Tahani  Jason  Janet
0       40     97      31     62    102
1       95      4      19     41    136
2       27     21      44     50     77

In [6]:
'''
Copying a DataFrame (optional)
Pandas provides two different ways to duplicate a DataFrame:

Referencing. If you assign a DataFrame to a new variable, any change to the DataFrame or to the new variable will be reflected in the other.
Copying. If you call the pd.DataFrame.copy method, you create a true independent copy. Changes to the original DataFrame or to the copy will not be reflected in the other.
The difference is subtle, but important.
'''

# Create a reference by assigning my_dataframe to a new variable.
print("Lets learn reference variable to create duplicate")
reference_df=  my_dataframe
print(reference_df)
print("\n")

# Print the starting value of a particular cell.
print("Starting value of my_dataframe \n :", my_dataframe['Jason'][1])
print("Starting value of reference_df \n :", reference_df['Jason'][1])

# Modify a cell in df.
my_dataframe.at[1,'Jason']=my_dataframe['Jason'][1] +5
print("Starting value of my_dataframe after modification \n :", my_dataframe['Jason'][1])
print("Starting value of reference_df after modification in my_dataframe \n :", reference_df['Jason'][1])
print("\n")

# Create a true copy of my_dataframe
print("Lets learn copy")
copy_my_dataframe=my_dataframe.copy()

# Print the starting value of a particular cell.
print("  Starting value of my_dataframe: %d" % my_dataframe['Tahani'][1])
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_my_dataframe['Tahani'][1])

# Modify a cell in df.
my_dataframe.at[1, 'Tahani'] = my_dataframe['Tahani'][1] + 3
print("  Updated my_dataframe: %d" % my_dataframe['Tahani'][1])
print("  copy_of_my_dataframe does not get updated: %d" % copy_my_dataframe['Tahani'][1])

print(my_dataframe)
print(copy_my_dataframe)

Lets learn reference variable to create duplicate
   Eleanor  Chidi  Tahani  Jason  Janet
0       40     97      31     62    102
1       95      4      22     51    136
2       27     21      44     50     77


Starting value of my_dataframe
 : 51
Starting value of reference_df
 : 51
Starting value of my_dataframe after modification
 : 56
Starting value of reference_df after modification in my_dataframe
 : 56


Lets learn copy
  Starting value of my_dataframe: 22
  Starting value of copy_of_my_dataframe: 22

  Updated my_dataframe: 25
  copy_of_my_dataframe does not get updated: 22
   Eleanor  Chidi  Tahani  Jason  Janet
0       40     97      31     62    102
1       95      4      25     56    136
2       27     21      44     50     77
   Eleanor  Chidi  Tahani  Jason  Janet
0       40     97      31     62    102
1       95      4      22     56    136
2       27     21      44     50     77