In [4]:
a = {"Audi":"R8",
     "Lamborghini":"Aventador",
     "Maruti Suzuki":"Swift",
     "Hyundai":"i20",
     "Ferrari":"F80"
    }
type(a)

dict

In [5]:
a["Audi"]

'R8'

In [6]:
a["Tesla"] = "Cyber Truck"

In [7]:
a

{'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': 'F80',
 'Tesla': 'Cyber Truck'}

In [8]:
a["Tesla"]

'Cyber Truck'

In [10]:
a["Kia"] = "Cee'd"

In [11]:
a

{'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': 'F80',
 'Tesla': 'Cyber Truck',
 'Kia': "Cee'd"}

In [14]:
a["Ferrari"] = "458"
a

{'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': '458',
 'Tesla': 'Cyber Truck',
 'Kia': "Cee'd",
 'Ferrai': '458'}

In [15]:
a.pop("Ferrai")
a

{'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': '458',
 'Tesla': 'Cyber Truck',
 'Kia': "Cee'd"}

In [16]:
del a["Kia"]
a

{'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': '458',
 'Tesla': 'Cyber Truck'}

In [17]:
a.clear()
a

{}

In [18]:
del a

In [19]:
a

NameError: name 'a' is not defined

In [20]:
a = {'Audi': 'R8',
 'Lamborghini': 'Aventador',
 'Maruti Suzuki': 'Swift',
 'Hyundai': 'i20',
 'Ferrari': '458',
 'Tesla': 'Cyber Truck',
 'Kia': "Cee'd"}

In [21]:
for i in a:
    print(i)

Audi
Lamborghini
Maruti Suzuki
Hyundai
Ferrari
Tesla
Kia

In [22]:
for i in a:
    print(a[i])

R8
Aventador
Swift
i20
458
Cyber Truck
Cee'd

In [24]:
for i in a:
    print(i," -> ",a[i])

Audi  ->  R8
Lamborghini  ->  Aventador
Maruti Suzuki  ->  Swift
Hyundai  ->  i20
Ferrari  ->  458
Tesla  ->  Cyber Truck
Kia  ->  Cee'd

In [29]:
a = {"age":[12,34,465,234,121]}

In [30]:
a["age"]

[12, 34, 465, 234, 121]

In [31]:
a["age"].append(9999999)
a["age"]

[12, 34, 465, 234, 121, 9999999]

In [32]:
a

{'age': [12, 34, 465, 234, 121, 9999999]}

In [33]:
a = {
    "Name":[],
    "Gender":[],
    "Age":[],
    "Address":[]
}
a

{'Name': [], 'Gender': [], 'Age': [], 'Address': []}

In [36]:
n = input("Enter Name\n")
g = input("Enter gender\n")
ag = int(input("Enter age\n"))
ad = input("Enter Address\n")
a["Name"].append(n)
a["Gender"].append(g)
a["Age"].append(ag)
a["Address"].append(ad)

Enter Name
Gayatri
Enter gender
F
Enter age
56
Enter Address
Kanchipuram

In [37]:
a

{'Name': ['Amrit', 'Gayatri'],
 'Gender': ['M', 'F'],
 'Age': [27, 56],
 'Address': ['Chennai', 'Kanchipuram']}